<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SchbangQ Backend Developer Task</title>
    </head>
    <body>
        <p style="margin-bottom: 1.2rem; color: #909090">
            <code>Implementing a Google OAuth strategy in NodeJS using Express, Passport.js, MongoDB, Google OAuth2.0 API</code>
        </p>

        <a href="/auth/google">Sign in with Google</p>
    </body>
</html>